@import url(https://fonts.google.com/specimen/Outfit);

body {
  margin: 0;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

.card-container {
  max-width: 19rem;
  padding: 20px;

  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-top img,
.card-container {
  border-radius: 20px;
}

.card-top {
  overflow: hidden;
}

.card-top img {
  width: 100%;
}

.card-bottom h2 {
  color: hsl(218, 44%, 22%);
}

.card-bottom p {
  color: hsl(220, 15%, 55%);
}

.attribution {
  position: absolute;
  bottom: 0;
}

.attribution p {
  margin: 3px;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}

.attribution p a {
  color: hsl(217, 100%, 42%);
}