@import url(https://fonts.google.com/specimen/Outfit);

body {
  margin: 0;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

main {
  max-width: 19rem;
  padding: 16px;

  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main,
main img {
  border-radius: 20px;
}

main img {
  max-width: 100%;
}

.card-bottom {
  margin: 10px;
}

.card-bottom h1,
.card-bottom p {
  font-size: 0.9375rem;
}

.card-bottom h1 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 0.9375rem;
}

.card-bottom p {
  color: hsl(220, 15%, 55%);
}

footer {
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 3px;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}

footer p a {
  color: hsl(217, 100%, 42%);
}